body {
  background:rgb(167, 127, 96);
  margin: 0;
  padding: 0;
}

p {
  color: black;
}

h2 {
  padding: 100px;
}
h1 {
  font-weight: bold;
}

.container{
  display: flex;
  justify-content: center;
}

.name{
  display: flex;
  justify-content: center;
  align-items:center; 
  flex-direction: column;
}

.text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img{
  height: 500px;
  width: 300px;
}


h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: pink;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: saddlebrown;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color:olive;
}